[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
/vendor/**/.git
/build/*
!/build/ci/
*.log
/cmd/vault/logs/**
vendor/
.vscode/
dist/
tag.txt
/cmd/.env
.kafka
/test/.env_test
data
bin
.entities
.docker